:root{
    --height:100px;
    --width:100px;
    --x:2px;
    --y:2px;
}

/*goal is to get rid of :root, since it affects all players, while we only want to change 1 players width and stuff*/

.box{
    position: absolute;
    left:var(--x);
    top:var(--y);
    height:var(--height);
    width:var(--width);
    background-color: #8f8f8f;
    border-radius:20px;
}

.box::before{
    display:block;
    content:"";
    height:calc(var(--height) * 0.8);
    width:calc(var(--width) * 0.8);
    position: relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-color:#212121;
    border-radius:15px;
}
/*#212121 this is the color for inside the box (green)*/