:root{
    --height:100px;
    --width:100px;
    --x:2px;
    --y:2px;
}

/*goal is to get rid of :root, since it affects all players, while we only want to change 1 players width and stuff*/

.box{
    position: absolute;
    left:var(--x);
    top:var(--y);
    height:var(--height);
    width:var(--width);
    border-radius:20px;
    background-image: url(./assets/characters/blueexplosion.png);
    background-repeat: no-repeat;
    background-size: contain;
}
